.editor-control-group {
  @apply border-b px-2 md:px-3.5 py-2.5 md:py-4 flex flex-col gap-3 rounded-sm;
}

.editor-control-group button {
  @apply rounded-full p-1 border size-6 md:size-8 hover:bg-slate-100 flex justify-center items-center disabled:bg-gray-100 disabled:cursor-not-allowed;
}

.editor-control-group .is-active {
  @apply bg-blue-50 text-blue-600 hover:bg-blue-100;
}
